*{
    box-sizing: border-box;
    
}
body{
    margin: 0;
    padding: 0;
    background-color:#fff;
}
.sign-up-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 40vw;
    border-radius: 10px;
    background-color:white;
    box-shadow: 0px 3px 2px 2px rgba(0, 0, 0,0.2);
    line-height: 1cm;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.main-content{
    display: flex;
    justify-content: center;
}
.footer{


    width: 100%;
    height: 10vh;
    color: gold;
    background-color:white;
    text-align: center;
    border-top: 1px solid grey;
}
.header{
    width: 100%;
    height: 10vh;
    color: black;
    background-color:  #ffc107;
    text-align: center;
}
button{
    height: 30px;
    width: 100px;
    border:none;
    color: black;
    background-color:gold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.text-font{
    font-size: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif}
    
a:link{ text-decoration: none;}
a:visited{ text-decoration: none;}
a:hover{ text-decoration: none;}
a:active{text-decoration: none;}
.gold{
    color: gold;
}
.row{
    display: flex;
    justify-content: space-between;
}
.flex-end{
    display: flex;
    justify-content: flex-end;
}
.mb{
    margin-bottom: 2%;
}
@media (max-width:576px){
    .sign-up-form{
        width: 90%;
        height: 10%;
    
    }
    .text-font{
        font-size: 0.8rem;
    }
    h1,h2,h3{
        font-size: 1rem;
    }
    
}